
<div class="events">
    
    <% @events.each do |event| %>
        
        <a href="/event/<%= event['id'] %>" class="event">
            <div class="imageBox">
                <img src="<%= event['image_url'] %>" alt="">
            </div>
            <h3 class="indexEventName"><%= event['name'] %></h3>
            <p class="indexEventDate"><%= event['date'] %></p>
        </a>
    
    <% end %>
</div>