<div class="events">
    <% @events.each do |event| %>
        <a href="/event/<%= event['id'] %>" class="event">
            <img src="<%= event['image_url'] %>" alt="">
            <h3><%= event['name'] %></h3>
            <p><%= event['date'] %></p>
        </a>
    <% end %>
</div>
