<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Whats on Melbourne?</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
</head>
<body>

    <header>
    <div class="headerContent">
        
        <h1><a href="/" class="heading">Whats on Melbourne?</a></h1>

        <% if organiser_logged_in? %>
            <p class="headerBox2">Hi, <%= current_organiser['organiser_name'] %></p>
    </div> 

            <nav class="organiserLoggedIn">
                <span><a href="/organiser/events" class="coollink">My Events</a></span>
                <span><a href="/event/new" class="coollink">Create New Event</a></span>
            </nav>         
        
        <% elsif user_logged_in? %>  
            <div class="headerBox2">
                <p>Hi, <%= current_user['username'].capitalize%>!</p>
                <p><a href="/user/<%= current_user['userurl'] %>/events" class="myEvents">My events</a></p>
            </div>   
    </div>  
           
        <% else %>
        <nav class="headerBox2">
            <p><a href="/organiser/login" class="coollink">Event Organiser Log In</a></p>
            <p><a href="/user/login" class="coollink">User Log In</a></p>
        </nav>
    </div>
    <% end %>         
    </header>

    <div class="container">
        <%= yield %>
    </div>

    <footer>
        <div class="logOutBtn">
            <% if organiser_logged_in? || user_logged_in? %>
                <div class="footerContent">
                <p>&copy; Camilla Champion de Crespigny 2020</p>
                <form action="/session" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <span><button class="logout">Logout</button></span>
                </form>
                </div>
            <% else %>
                <p>&copy; Camilla Champion de Crespigny 2020</p>
            <% end %>
        </div>
    </footer>

</body>
</html>
