<h1>User Log In</h1>

<p>New user? Create new account <a href="/user/new">here.</a></p>

<p class="error"><%= @error %></p>

<form action="/user/login" method="post">

    <section>
        <label for="email">Email: </label>
        <input type="text" name="email">
    </section>

    <section>
        <label for="password">Password: </label>
        <input type="password" name="password">
    </section>

    <button>Log in</button>
</form>