<h2>Create new user account</h2>

<form action="/user" method="post">

    <section>
        <label for="name">User name: </label>
        <input type="text" name="name">
    </section>

    <section>
        <label for="email">Email: </label>
        <input type="text" name="email">
    </section>

    <section>
        <label for="password">Password: </label>
        <input type="password" name="password">
    </section>

    <button>create account</button>
</form>