<h2>Question for <%= @event['name'] %></h2>

<p>Question: <%= @question['question'] %></p>

<form action="/question/answer/<%= @question['id'] %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label class="decriptLabel" for="answer">Answer: </label>
    <textarea name="answer" cols="30" rows="10" placeholder="Type your answer here. Max 500 characters."></textarea>
    <div>
        <button>Post answer</button>
    </div>

</form>