body {
    font-family: 'Abel', sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding-bottom: 20px;
}

header {
    margin: auto;
    max-width: 100%;
    border-bottom: 1px solid black;
    background-color: black;
}

.headerContent {
    margin: auto;
    max-width: 850px;
    display: flex;
    color: white;
}

.coollink {
    position: relative;
    text-decoration: none;
    color: white;
    margin-right: 8px;
}

.coollink:hover:after {
    width: 100%;
    right: 0;
}

.coollink:after {
    bottom: 0;
    content: "";
    height: 2px;
    right: 0;
    position: absolute;
    background: white;
    transition: width .3s ease 0s, right 0.5s ease 0s;
    width: 0;
}

.myEvents {
    position: relative;
    text-decoration: none;
    color: white;
}

.myEvents:hover:after {
    width: 100%;
    right: 0;
}

.myEvents:after {
    bottom: 0;
    content: "";
    height: 2px;
    right: 0;
    position: absolute;
    background: white;
    transition: width .3s ease 0s, right 0.5s ease 0s;
    width: 0;
}

h1 {
    align-self: center;
    flex-grow: 1;
    text-transform: capitalize;
}

.heading {
    margin-left: 8px;
}

h1 a {
    text-decoration: none;
    color: white;
}

h1::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

h1:hover:after {
    width: 260px;
}

h2 {
    text-transform: capitalize;
}

.headerBox2 {
    justify-self: right;
    align-self: center;
    font-size: 1.2em;
    text-align: right;
    text-transform: capitalize;
    margin-right: 8px;
}

/* organiser specific header */

.organiserLoggedIn {
    margin: auto;
    max-width: 850px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.organiserLoggedIn * {
    margin-left: 15px;
    color: white;
    font-size: 18px;
}

/* event layouts */

.eventTitle {
    text-align: center;
}

.events {
    padding-top: 10px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.imageBox {
    width: 200px;
    height: 200px;
}

img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.imageBoxEdit {
    width: 100px;
    height: 100px;
}

.event {
    justify-self: center;
    padding: 10px;
    text-decoration: none;
}

.event:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.eventDetails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.eventDetails * {
    padding: 0 15px;
    justify-self: center;
}

.detailsImage {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.indexEventName {
    margin-bottom: 0;
    margin-top: 5px;
    color: black;
    text-transform: uppercase;
}

.indexEventDate {
    margin-bottom: 0;
    margin-top: 0;
    color: black;
}

.dateDetails {
    margin-top: 0;
}

/* new event form */

.formNote {
    font-size: small;
    color: slategrey;
    margin-top: 0;
}

.decriptLabel {
    vertical-align: top;
}

.eventNameInput {
    width: 250px;
}


/* Buttons on event organiser details paget */

.buttons {
    display: flex;
}

.editBtn {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.editBtn p {
    padding-top: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.editBtn:hover {
    background-color: black;
    color: white;
}

.deleteBtn {
    border: 1px solid black;
    padding: 4px 23px;
}

.deleteBtn:hover {
    background-color: black;
    color: white;
}

button {
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    border: 1px solid black;
    padding: 4px 23px;
}

button:hover {
    color: white;
    background-color: black;
}

section {
    display:grid;
    grid-template-columns: .2fr .6fr;
    margin-bottom: 15px;
}

.editImageSection {
    display: grid; 
    grid-template-columns: .2fr .2fr .6fr;   
}

.withFormNote {
    margin-bottom: 0;
}

.buttonFormatting {
    text-decoration: none;
    color: black;
    font-family: 'Abel', sans-serif;
    border: 1px solid black;
    padding: 4px 23px;
}

.buttonFormatting:hover {
    color: white;
    background-color: black;
}

.error {
    color: red;
}

/* footer layout */

footer {
    border-top: 1px solid black;
    text-align: center;
    margin: auto;
    max-width: 100%;
}

.footerContent {
    margin: auto;
    max-width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logout:hover {
    background-color: black;
    color: white;
}