<h2>Create event organiser account</h2>

<form action="/organiser" method="post">

    <section>
        <label for="name">Organiser name: </label>
        <input type="text" name="name">
    </section>

    <section>
        <label for="email">Email: </label>
        <input type="text" name="email">
    </section>

    <section>
        <label for="password">Password: </label>
        <input type="password" name="password">
    </section>

    <button>Create Account</button>
</form>