<h2>Create new event</h2>

<form action="/event" method="post">

    <label for="name">name</label>
    <input type="text" name="name">

    <label for="image_url">image url</label>
    <input type="text" name="image_url">

    <label for="date">event date</label>
    <input type="date" name="date" min="<%= @min %>">

    <button>create</button>

</form>